* {
    font-size: 12px;
    font-family: "Helvetica";
}

button {
    font-size: 10px;
    border-radius: 3px;
}

.logarithmic-button:hover {
    background: #e4e4e0;
}

.logarithmic-button:checked {
    background: #e4e4e0;
    color: #3584e4;
}

.option-button {
    padding: 0px; 
    margin: 2px 2px;
}

.option-button:hover {
    background: #e4e4e0;
}

.option-button:checked {
    background: #e4e4e0;
    color: #3584e4;
}

.time-label {
    font-size: 48px;
    font-family: "Courier monospace";
    font-weight: bold;
    color: #000000;
}

.vu-graphic-meter {
    margin: 0 5px;
    padding: 0;
}

.vu-numeric-meter-clipped {
    color:red;
    font-weight: bold;
}

.vu-label {
    margin: 0 5px 0 5px;
    padding: 0;
}
 
levelbar block.filled {
    background-color: #3584e4;
    min-height: 1px;
    border-color: transparent;
}

levelbar block.empty {
    background-color: white;
    min-height: 1px;
    border-color: transparent;
}

.about-content {
    padding: 20px 20px 20px 20px;
}